body {
	font-family: 'Underdog', cursive;
	background-color: #4D4D4D;
	width: 900px;
}

article:nth-child(2) {
	margin-top: 50px;
}

#post_form {
	position: relative;
	top: 50px;
}

/* Navigation Styling */

a {
	text-decoration: none;
	font-size: 2em;
	background-color: Orange;
	color: #000;
	border-radius: 5px 5px;
	margin: 5px;
}

.smalllink {
	text-decoration: none;
	background-color: Orange;
	color: #000;
	border-radius: 5px 5px;
	margin: 5px;
	font-size: 1em;
}

.post_a {
	position: relative;
	top: 10px;
	left: 15px;
}
nav {
	margin-top: 20px;
}

a:hover {
	background-color: #FFF;
}

.separator {
	font-size: 2em;
	background-color: Orange;
}

#top_nav {
	position: fixed;
	margin-top: -50px;
	width: 100%;
	background-color: #624D77;
	z-index: 1;
}

#top_nav a, .separator {
	position: relative;
	top: 10px;
}

.users nav {
	margin-left: 19%;
}

.users_top nav {
	margin-left: 10%;
}

#profile_follow {
	position: relative;
	left: 120px;
}

/* End of Navigation styling */


/* General Styling */

body:nth-child(2) {
	margin-top: 50px;
}

img {
	width: 50px;
	height: 50px;
	border: 1px solid;
	display: block;
	margin-left: 20%;
}

.img_big {
	width:100px;
	height: 100px;
}

div {
	display: inline-block;
	margin: 30px 30px 0px;
}

.post_div {
	width: 69%;
	float: right;
	border: 1px dashed;
	border-radius: 5px 5px;
	padding: 10px;
	background-color: #FFFF66;
	position: relative;
	bottom: 25px;
}

.post_pic {
	max-width: 20%;
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}

h2 {
	font-style: italic;
}

form, .post {
	border: 5px dashed #000;
	width: 90%;
	padding-left: 20px;
	padding-bottom: 20px;
	box-shadow: 5px 5px 5px Orange;
	background-color: Yellow;
	margin-left: 2%;
	padding-top: 20px;
}

.post_history {
	border: 5px dashed #000;
	width: 55%;
	padding-left: 20px;
	padding-bottom: 20px;
	box-shadow: 5px 5px 5px Orange;
	background-color: Yellow;
	display: inline-block;
	float: right;
	margin-right: 5%;
}

.profile_history {
	width: 30%;
	padding-left: 20px;
	padding-bottom: 20px;
	box-shadow: 5px 5px 5px Orange;
	background-color: Yellow;
	border: 5px dashed #000;
	display: inline-block;
	float: left;
	margin-left: 2%;
}

.post_history_div {
	width: 80%;
	margin-top: 5%;
	margin-right: 10%;
	border: 2px dashed;
	border-radius: 5px 5px;
	padding: 10px;
	background-color: #FFFF66;
}

#profile, .general {
	width: 70%;
	padding-left: 20px;
	padding-bottom: 20px;
	box-shadow: 5px 5px 5px Orange;
	background-color: Yellow;
	border: 5px dashed #000;
	display: inline-block;
	margin-left: 2%;
}

.comments {
	width: 90%;
	background-color: #FFFFCC;
	padding: 10px;
	position: relative;
	right: 20px;
	bottom: 20px;
	font-size: 12px;
}

.comment_single, .comment_single_content {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	display: block;
}

.comment_single_content {
	position: relative;
	left: 50px;
	top: 10px;
	margin: 0;
	padding: 5px;
	width: 90%;
	border: 1px dashed;
}
.comment_single_content p {
	position: relative;
	right: 50px;
}

.comm_prof {
	width: 80%;
}
.comment_img {
	margin:0;
	margin-right: 5px;
	float:left;
	position: relative;
	top: 15px;
	border: none;	
}
.comments form {
	border: none;
	box-shadow: none;
	margin: 0;
	margin-top: 30px;
	padding: 0;
	background-color: #FFFFCC; 
}

.comments textarea {
	width: 90%;
	height: 50px;
	font-size: 12px;
}

.comments input[type='submit'] {
	background-color: Orange;
	width: 100px;
	font-size: 12px;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px Orange;
	margin: 0;
	padding: 0;
}

/* Styling for following users page */

.users {
	width: 45%;
	padding-left: 20px;
	padding-bottom: 20px;
	box-shadow: 5px 5px 5px Orange;
	background-color: Yellow;
	border: 5px dashed #000;
	display: inline-block;
	margin-left: 2%;
}

.users div {
	margin-left: 30%;
}


.users_top {
	background-color: #FFCC00;
	display: inline-block;
	width: 30%;
	padding: 5px;
	border: 2px dashed;
}

.users_top p {
	margin-left: 15%;
}

.postcount {
	border: 1px solid;
	border-radius: 50px 50px;
	margin: 0;
	padding: 2px;
	display: inline-block;
	float: right;
	background-color: #FF6600;
}

/* Styling for form inputs */

input {
	border-radius: 5px 5px;
	padding: 5px;
	margin: 5px;
	font-family: 'Underdog', cursive;
	width: 50%;
	font-size: 1.2em;
}

input:focus {
	background-color: #FFCC66;
	outline: 0;
}

textarea {
	width: 90%;
	height: 100px;
	border-radius: 5px 5px;
	outline: 0;
	font-family: 'Underdog', cursive;
	font-size: 18px;
}

/* Submit styles */

input[type='submit'] {
	background-color: Orange;
	width: 150px;
	border: 2px solid #000;
	box-shadow: 2px 2px 2px Orange;
}

input[type='submit']:hover {
	box-shadow: none;
}

em {
	color: red;
}
/* Error messages */

.error {
	color: red;
	margin-top: 10px;
}